@import '../../../../../styles/common.scss';

.StoryArticlesSmall{
  display: flex;
  align-items: center;
  width: 31%;
  position: relative;
  margin-bottom: 60px;

    img{
      max-width: 100%;
      transition: all .2s ease-in-out;

      &:hover{
          transform: scale(0.96);
        }
    }
     .textBox{     
        position: absolute;
        word-break: break-word;
        width: 90%;
        text-decoration: none;
        bottom:0;
        font-family: $mainFont;
        font-size: 1.75rem;
        font-weight: 900;
        line-height: 32px;
        text-transform: uppercase;
        color: $mainBlack; 
        text-transform: uppercase;
        
        h2{
          background-color: #fff;
          display: inline;
          box-decoration-break: clone;
          padding-top: 5px;
          box-shadow: 10px 0px 0 #fff, 0px 0 0 #fff;
          
          span{
            margin-left: 14px;
            color: #949494;
          }
        }

      } 
}
