@import "../../../../../styles/common.scss";

.DetailCard {
    .headerContentsWrapper {
        font-family: $mainFont;
        position: relative;
        margin: 0 auto;
        max-width: 1440px;

        .headerText {
            width: 41%;
            position: absolute;
            padding: 10.4% 0 0 8.33333%;
            z-index: 2;

            h1 {
                font-size: 20px;
                font-weight: 300;
                color: #fff;
                margin-bottom: 30px;
            }

            .subWrap {
                margin-bottom: 50px;

                .subTitle {
                    font-size: 50px;
                    font-weight: 700;
                    color: #fff;
                }

                .subBody {
                    margin-top: 16px;
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 1.3;
                    letter-spacing: 0.7px;
                    color: #fff;
                }
            }

            .buyWrap {
                display: flex;
                align-items: center;
                margin-bottom: 50px;

                .buyBtn {
                    margin-right: 30px;

                    .btnWrapper {
                        text-decoration: none;
                        color: #fff;
                        text-transform: uppercase;

                        span {
                            display: inline-block;
                            font-family: $subFont;
                            font-size: 17px;
                            letter-spacing: 1px;
                            padding: 13px 30px 5px 30px;
                            min-height: 47px;
                            border-radius: 27px;
                            border: 1.5px solid $mainRed;
                            background-color: $mainRed;
                        }
                    }
                }

                .price {
                    font-size: 20px;
                    line-height: 1.4;
                    font-weight: 400;
                    color: #fff;
                }
            }
        }
    }

    .headerImage {
        position: relative;

        .gradientOverlay {
            position: absolute;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: linear-gradient(transparent 70%, #161616);
        }

        img {
            width: 100%;
        }
    }
}