.item1 {
    background-color: #f1f1f1;
    margin: 25px 0;
    border-radius: 30px;
    width: 34px;
    height: 34px;

    .colorCircle1 {
        background-color: #2b2b2b;
        margin: 0 0 0 20px;
        // background-color: #2d2d2d;
        border-radius: 30px;
        width: 34px;
        height: 34px;

        .colorCircle2 {
            background-color: #911827;
            margin: 0 0 0 20px;
            // background-color: #911827;
            border-radius: 30px;
            width: 34px;
            height: 34px;
        }
    }
}

.item2 {
    background-color: #f7ede2;
    margin: 25px 0;
    border-radius: 30px;
    width: 34px;
    height: 34px;

    .colorCircle1 {
        background-color: #2b2b2b;
        margin: 0 0 0 20px;
        border-radius: 30px;
        width: 34px;
        height: 34px;

        .colorCircle2 {
            background-color: #374754;
            margin: 0 0 0 20px;
            border-radius: 30px;
            width: 34px;
            height: 34px;
        }
    }
}

.item3 {
    background-color: #262950;
    margin: 25px 0;
    border-radius: 30px;
    width: 34px;
    height: 34px;

    .colorCircle1 {
        background-color: #f25141;
        margin: 0 0 0 20px;
        border-radius: 30px;
        width: 34px;
        height: 34px;

        .colorCircle2 {
            background-color: #61b0e2;
            margin: 0 0 0 20px;
            border-radius: 30px;
            width: 34px;
            height: 34px;
        }
    }
}

.item4 {
    background-color: #2b2b2b;
    margin: 25px 0;
    border-radius: 30px;
    width: 34px;
    height: 34px;

    .colorCircle1 {
        background-color: #cb9995;
        margin: 0 0 0 20px;
        border-radius: 30px;
        width: 34px;
        height: 34px;

        .colorCircle2 {
            background-color: #c4c4c4;
            margin: 0 0 0 20px;
            border-radius: 30px;
            width: 34px;
            height: 34px;
        }
    }
}

.item5 {
    background-color: #484b4d;
    margin: 25px 0;
    border-radius: 30px;
    width: 34px;
    height: 34px;

    .colorCircle1 {
        background: linear-gradient(135deg, #b71628 50%, #2b2b2b 50%);
        margin: 0 0 0 20px;
        border-radius: 30px;
        width: 34px;
        height: 34px;

        .colorCircle2 {
            background-color: #af1426;
            margin: 0 0 0 20px;
            border-radius: 30px;
            width: 34px;
            height: 34px;
        }
    }
}

.item6 {
    background-color: #2b2b2b;
    ;
    margin: 25px 0;
    border-radius: 30px;
    width: 34px;
    height: 34px;

    .colorCircle1 {
        background-color: #c4c4c4;
        margin: 0 0 0 20px;
        border-radius: 30px;
        width: 34px;
        height: 34px;

        .colorCircle2 {
            background: linear-gradient(135deg, #b71628 50%, #2b2b2b 50%);
            margin: 0 0 0 20px;
            border-radius: 30px;
            width: 34px;
            height: 34px;
        }
    }
}

.item7 {
    background-color: #33477b;
    margin: 25px 0;
    border-radius: 30px;
    width: 34px;
    height: 34px;

    .colorCircle1 {
        background-color: #f1f1f1;
        margin: 0 0 0 20px;
        border-radius: 30px;
        width: 34px;
        height: 34px;

        .colorCircle2 {
            background-color: #2b2b2b;
            margin: 0 0 0 20px;
            border-radius: 30px;
            width: 34px;
            height: 34px;
        }
    }
}

.item8 {
    background-color: #2b2b2b;
    margin: 25px 0;
    border-radius: 30px;
    width: 34px;
    height: 34px;

    .colorCircle1 {
        background-color: #e5d8cc;
        margin: 0 0 0 20px;
        border-radius: 30px;
        width: 34px;
        height: 34px;

        .colorCircle2 {
            background-color: #c7c7c7;
            margin: 0 0 0 20px;
            border-radius: 30px;
            width: 34px;
            height: 34px;
        }
    }
}

.item9 {
    background-color: #2b2b2b;
    margin: 25px 0;
    border-radius: 30px;
    width: 34px;
    height: 34px;

    .colorCircle1 {
        background: linear-gradient(135deg, #b71628 50%, #2b2b2b 50%);
        margin: 0 0 0 20px;
        border-radius: 30px;
        width: 34px;
        height: 34px;
    }
}

.item10 {
    background-color: #f1f1f1;
    margin: 25px 0;
    border-radius: 30px;
    width: 34px;
    height: 34px;

    .colorCircle1 {
        background-color: #2b2b2b;
        margin: 0 0 0 20px;
        border-radius: 30px;
        width: 34px;
        height: 34px;

        .colorCircle2 {
            background-color: #de5549;
            margin: 0 0 0 20px;
            border-radius: 30px;
            width: 34px;
            height: 34px;
        }
    }
}