$mainRed: #e01e3c;
$mainBlack: #161616;
$footerGray: #a7a6a6;
$backgroundGray: #f4f4f4;
$headerGray: #242424;
$cartGray: #424242;
$tl: 0.6s; 

$mainFont: "neuzeit-grotesk", sans-serif;
$subFont: "bebas-kai", sans-serif;


