@import "../../../styles/common.scss";
.ProductsDetail_Pill {
  width: 100%;
  .HeaderWrap {
    display: block;

    .TextWrap {
      position: relative;
      width: 85%;
      margin: 0 auto;
      z-index: 2;
      font-family: $mainFont;
      .TextInner {
        position: absolute;
        width: 44%;
        margin-top: 50px;
        left: 62%;
        padding-top: 24%;
        font-size: 15px;
        line-height: 24px;
        color: white;

        h1 {
          font-size: 60px;
          font-weight: 800;
          margin-bottom: 5px;
        }
        p {
          font-size: 13px;
          margin-bottom: 10px;
          letter-spacing: 0.3px;
          padding-top: 30px;
        }
      }
      .PriceBuyWrap {
        display: flex;
        padding-top: 30px;
        .Price {
          display: inline-block;
          vertical-align: middle;
          font-size: 22px;
          line-height: 22px;
          position: relative;
          margin-right: 15px;
          margin-top: 2.9%;
        }
      }
    }
    .HeaderImg {
      position: relative;
      overflow: hidden;
      img {
        width: 105%;
      }
    }
  }
  .ProductColorPalette {
    width: 100%;
    .ProductColorSelectorWrap {
      height: 100vh;
      padding: 5% 0;
      .BackgroundImg {
        background-image: url(https://www.beatsbydre.com/etc/designs/apps/beats/resources/img/pages/pdp/bg-light.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      .ColorSelector {
        position: relative;
        width: 100%;
        left: 0;
        top: 40%;
        z-index: 5;
        .Container {
          width: 80%;
          margin-left: auto;
          margin-right: auto;
          .ColorSelectorContent {
            width: 33.333%;
            left: 8.333%;
            position: relative;
            border: none;
            legend {
              display: block;
              border-style: none;
              color: #a7a6a6;
              font-weight: 700;
              font-size: 13px;
              margin-bottom: 5px;
              h2 {
                font-size: 50px;
                line-height: 1.1;
                color: #222021;
              }
            }
            .ColorList {
              padding: 50px;
              background-color: rgba(162, 162, 162, 0.13);
              height: 20px;
              ul {
                padding: 3px;
                display: block;
                .Active {
                  width: 50%;
                  margin-bottom: 20px;
                  padding: 1px 10px 1px 1px;
                  margin-right: 0;
                  float: left;
                  .ColorListInput1 {
                    display: block;
                    clip: rect(1px, 1px, 1px, 1px);
                    height: 1px;
                    overflow: hidden;
                    position: absolute !important;
                    width: 1px;
                  }
                  label {
                    display: flex;
                    align-items: center;
                    a {
                      text-decoration: none;
                      font-weight: 500;
                      transition: border-color 0.35s ease-out;
                      .BtnBorder {
                        border: 2px solid #222021;
                        width: 40px;
                        height: 40px;
                        min-width: fit-content;
                        margin-right: 17px;
                        border-radius: 50%;
                        padding: 3px;
                        vertical-align: middle;
                        transition: border-color 280ms ease-out;

                        .ImgWrap {
                          width: 30px;
                          height: 30px;
                          border: 1px solid rgba(167, 166, 166, 0.5);
                          overflow: hidden;
                          border-radius: 50px;
                          img {
                            display: block;
                            max-width: 100%;
                          }
                        }
                      }
                      .ColorTitle {
                        font-size: 13px;
                        line-height: 1;
                        color: #222021;
                        font-weight: 600;
                        margin-top: 4px;
                        text-align: left;
                        font-family: $mainFont;
                      }
                    }
                  }
                }
                .Active {
                  width: 50%;
                  margin-bottom: 20px;
                  padding: 1px 10px 1px 1px;
                  margin-right: 0;
                  float: left;
                  .ColorListInput2 {
                    display: block;
                    clip: rect(1px, 1px, 1px, 1px);
                    height: 1px;
                    overflow: hidden;
                    position: absolute !important;
                    width: 1px;
                  }
                  label {
                    display: flex;
                    align-items: center;
                    margin-bottom: 0;
                    a {
                      text-decoration: none;
                      font-weight: 500;
                      transition: border-color 0.35s ease-out;
                      display: flex;
                      align-items: center;
                      .BtnBorder {
                        width: 40px;
                        height: 40px;
                        min-width: fit-content;
                        margin-right: 17px;
                        border-radius: 50%;
                        padding: 3px;
                        vertical-align: middle;
                        transition: border-color 280ms ease-out;

                        .ImgWrap {
                          width: 30px;
                          height: 30px;
                          border: 1px solid rgba(167, 166, 166, 0.5);
                          overflow: hidden;
                          border-radius: 50px;
                          img {
                            display: block;
                            max-width: 100%;
                          }
                        }
                      }
                      .ColorTitle {
                        font-size: 13px;
                        line-height: 1;
                        color: #222021;
                        font-weight: 600;
                        margin-top: 4px;
                        text-align: left;
                        font-family: $mainFont;
                      }
                    }
                  }
                }
                .Active {
                  width: 50%;
                  margin-bottom: 20px;
                  padding: 1px 10px 1px 1px;
                  margin-right: 0;
                  float: left;
                  .ColorListInput3 {
                    display: block;
                    clip: rect(1px, 1px, 1px, 1px);
                    height: 1px;
                    width: 1px;
                    overflow: hidden;
                    position: absolute !important;
                  }
                  label {
                    display: flex;
                    align-items: center;
                    margin-bottom: 0;
                    cursor: default;
                    a {
                      text-decoration: none;
                      font-weight: 500;
                      transition: border-color 0.35s ease-out;
                      display: flex;
                      align-items: center;
                      .BtnBorder {
                        width: 40px;
                        height: 40px;
                        min-width: fit-content;
                        margin-right: 17px;
                        border-radius: 50%;
                        padding: 3px;
                        vertical-align: middle;
                        transition: border-color 280ms ease-out;

                        .ImgWrap {
                          width: 30px;
                          height: 30px;
                          border: 1px solid rgba(167, 166, 166, 0.5);
                          overflow: hidden;
                          border-radius: 50px;
                          img {
                            display: block;
                            max-width: 100%;
                          }
                        }
                      }
                      .ColorTitle {
                        font-size: 13px;
                        line-height: 1;
                        color: #222021;
                        font-weight: 600;
                        margin-top: 4px;
                        text-align: left;
                        font-family: $mainFont;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .ChessImgText {
    display: block;
    .Container {
      width: 85%;
      margin-left: auto;
      margin-right: auto;
      .ItemFirst {
        background-color: white;
        .ItemImg {
          width: 50%;
          display: inline-block;
          vertical-align: middle;
          position: relative;
          img {
            width: 100%;
          }
        }
        .Text {
          width: 50%;
          display: inline-block;
          margin-left: -5px;
          vertical-align: middle;
          position: relative;
          .TextInner {
            width: 66.66667%;
            margin-left: 16.66667%;
            padding: 0 10px;
            font-family: $mainFont;
            h3 {
              font-size: 1.875rem;
              letter-spacing: -0.01em;
              width: 100% !important;
              margin-left: 0 !important;
              line-height: 1.111111111;
              margin-bottom: 0.6666666667rem;
              font-weight: 700;
            }
            p {
              font-size: 24px;
              line-height: 24px;
              width: 100% !important;
              color: rgb(185, 185, 185);
              line-height: 30px;
              sup {
                font-size: 0.675em;
                vertical-align: baseline;
                top: -0.4em;
                position: relative;
              }
            }
          }
        }
      }
      .ItemSecond {
        background-color: white;
        .ItemImg {
          left: 50%;
          width: 50%;
          display: inline-block;
          vertical-align: middle;
          position: relative;
          img {
            width: 100%;
            display: block;
          }
        }
        .Text {
          width: 50%;
          right: 50%;
          display: inline-block;
          margin-left: -5px;
          vertical-align: middle;
          position: relative;
          .TextInner {
            width: 66.66667%;
            margin-left: 16.66667%;
            padding: 0 10px;
            font-family: $mainFont;
            h3 {
              font-size: 1.875rem;
              letter-spacing: -0.01em;
              width: 100% !important;
              margin-left: 0 !important;
              line-height: 1.111111111;
              margin-bottom: 0.6666666667rem;
              font-weight: 700;
            }
            p {
              font-size: 24px;
              line-height: 24px;
              width: 100% !important;
              color: rgb(185, 185, 185);
              line-height: 30px;
            }
          }
        }
      }
      .ItemThird {
        background-color: white;
        .ItemImg {
          width: 50%;
          display: inline-block;
          vertical-align: middle;
          position: relative;
          img {
            width: 100%;
            display: block;
          }
        }
        .Text {
          width: 50%;
          display: inline-block;
          margin-left: -5px;
          vertical-align: middle;
          position: relative;
          .TextInner {
            width: 66.66667%;
            margin-left: 16.66667%;
            padding: 0 10px;
            font-family: $mainFont;
            h3 {
              font-size: 1.875rem;
              letter-spacing: -0.01em;
              width: 100% !important;
              margin-left: 0 !important;
              line-height: 1.111111111;
              margin-bottom: 0.6666666667rem;
              font-weight: 700;
            }
            p {
              font-size: 24px;
              line-height: 24px;
              width: 100% !important;
              color: rgb(185, 185, 185);
              line-height: 30px;
            }
          }
        }
      }
    }
  }
  .BeatsPillApp {
    display: block;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    .Container {
      padding: 134px 0 104px 0;
      font-family: $mainFont;
      .MainText {
        text-align: center;
        h2 {
          font-size: 2.4rem;
          margin-bottom: 0.6666666667rem;
          color: #222021;
          font-weight: 700;
          line-height: 1;
          sup {
            font-size: 0.675em;
            vertical-align: baseline;
            top: -0.4em;
            position: relative;
          }
        }
        p {
          color: rgb(155, 155, 155);
          width: 100%;
          margin-bottom: 45px;
          display: inline-block;
          font-size: 15px;
          line-height: 24px;
          sup {
            font-size: 0.675em;
            vertical-align: baseline;
            top: -0.4em;
            position: relative;
          }
        }
      }
      .App {
        overflow: hidden;
        text-align: center;
        margin: auto;
        .AppleStore {
          padding-right: 5px;
          width: 144px;
          display: inline-block;
          a {
            text-decoration: none;
            font-weight: 500;
            img {
              display: block;
              max-width: 100%;
            }
          }
        }
        .GooglePlay {
          padding-left: 5px;
          width: 144px;
          display: inline-block;
          a {
            text-decoration: none;
            color: inherit;
            font-weight: 500;
            transition: color 0.35s ease-out;
            img {
              display: block;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}
