@import "../../styles/common.scss";

.Support {
  width: 100%;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  .Support-Top {
    display: block;
    .Support-Top-Wrap {
      position: relative;
      .Main-Img {
        position: relative;
        img {
          width: 100%;
          z-index: 0;
        }
      }
      .Main-Text {
        width: 80%;
        position: absolute;
        z-index: 1;
        text-align: center;
        margin-left: 2.3%;
        margin-top: 2.4%;
        h1 {
          font-family: $mainFont;
          font-size: 60px;
          font-weight: 700;
          line-height: 1;
          color: white;
          padding: 10% 0 0 8%;
          text-align: left;
        }
      }
    }
  }

  .SupportPopular {
    display: block;
    width: 100%;
    .SupportPopularWrap {
      position: relative;
      .PopularImg {
        position: relative;
        z-index: 0;
        overflow: hidden;
        img {
          width: 114%;
        }
      }
      .PopularContent {
        width: 32%;
        position: absolute;
        z-index: 1;
        top: 29%;
        left: 19%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        letter-spacing: 0.08rem;
        .MainText h2 {
          font-family: $mainFont;
          font-size: 50px;
          font-weight: 800;
          margin-bottom: 26px;
          padding-top: 15px;
        }
        .ContentBox {
          h3 {
            font-family: $mainFont;
            font-weight: 600;
            font-size: 1rem;
            letter-spacing: 0.05rem;
          }
          .ContentBluetooth {
            padding: 0 30px 0 30px;
            border-top: solid 1px #dddddd;
            &:last-child {
              border-bottom: solid 1px #dddddd;
            }
            &:hover {
              background-color: rgba(255, 255, 255, 0.2);
              transition: all ease-in-out 0.2s;
            }
            .BluetoothDropBtn {
              width: 100%;
              padding: 40px 0 34px 0;
              display: flex;
              justify-content: space-between;
              .fas {
                font-size: 6px;
                color: #a7a6a6;
                transform: rotate(0deg);
                transition: transform 0.2s ease-in-out;
              }
              .iconActive {
                transform: rotate(-45deg);
              }
            }

            .ContentShow {
              transition: all ease-in-out 0.2s;
              height: auto;
              overflow: hidden;
              li {
                font-family: $subFont;
                a {
                  color: black;
                  text-decoration: none;
                  letter-spacing: 0.06em;
                  font-weight: 500;
                  font-size: 14px;
                }
              }
              li {
                margin-bottom: 15px;
                .fas {
                  margin-left: 5px;
                  margin-top: 3px;
                }
                &:last-child {
                  margin-bottom: 50px;
                }
              }
            }
            .ContentShowActive {
              display: none;
            }
          }
          .ContentBluetoothColor {
            background-color: #f7f7f7;
            transition: all ease-in-out 0.1s;
            &:hover {
              color: #f7f7f7;
              transition: all ease-in-out 0.2s;
            }
          }

          .ContentSound {
            padding: 0 30px 0 30px;
            border-top: solid 1px #dddddd;
            &:hover {
              background-color: rgba(255, 255, 255, 0.2);
              transition: all ease-in-out 0.2s;
            }
            .SoundHelpDropBtn {
              width: 100%;
              padding: 40px 0 34px 0;
              display: flex;
              justify-content: space-between;
              .fas {
                font-size: 6px;
                color: #a7a6a6;
                transform: rotate(0deg);
                transition: transform 0.2s ease-in-out;
              }
              .iconActive {
                transform: rotate(-45deg);
              }
            }

            .ContentShow {
              height: auto;
              overflow: hidden;
              transition: all ease-in-out 0.2s;
              ul {
                display: block;
                li {
                  font-family: $subFont;
                  a {
                    color: black;
                    text-decoration: none;
                    letter-spacing: 0.06em;
                    font-weight: 500;
                    font-size: 14px;
                  }
                }
                li {
                  margin-bottom: 15px;
                  .fas {
                    margin-left: 5px;
                    margin-top: 3px;
                  }
                  &:last-child {
                    margin-bottom: 50px;
                  }
                }
              }
            }
            .ContentShowActive {
              display: none;
            }
          }

          .ContentFirmware {
            padding: 0 30px 0 30px;
            border-top: solid 1px #dddddd;
            border-bottom: solid 1px #dddddd;
            &:hover {
              background-color: rgba(255, 255, 255, 0.2);
            }
            .FirmwareDropBtn {
              width: 100%;
              display: flex;
              justify-content: space-between;
              padding: 40px 0 34px 0;
              .fas {
                font-size: 6px;
                color: #a7a6a6;
                transform: rotate(0deg);
                transition: transform 0.2s ease-in-out;
              }
              .iconActive {
                transform: rotate(-45deg);
              }
            }

            .ContentShow {
              height: auto;
              overflow: hidden;
              transition: all ease-in-out 0.2s;
              ul {
                display: block;
                li {
                  font-family: $subFont;
                  a {
                    color: black;
                    text-decoration: none;
                    letter-spacing: 0.06em;
                    font-weight: 500;
                    font-size: 14px;
                  }
                }
                li {
                  margin-bottom: 15px;
                  .fas {
                    margin-left: 5px;
                    margin-top: 3px;
                  }
                  &:last-child {
                    margin-bottom: 50px;
                  }
                }
              }
            }
            .ContentShowActive {
              display: none;
              transition: all ease-in-out 0.2s;
            }
          }
        }
      }
    }
  }

  .Support-Res {
    display: block;
    background-color: #f4f4f4;
    z-index: 3;
    .Support-Res-Wrap {
      position: relative;
      padding: 80px 0 80px 0;
      width: 85%;
      max-width: 94.6667rem;
      margin-left: auto;
      margin-right: auto;
      .Main-Text h2 {
        text-align: center;
        font-size: 53px;
        line-height: 1.1;
        font-weight: 700;
        font-family: $mainFont;
        margin: 41px 0 60px 0;
      }
      .Tiles {
        display: flex;
        flex-wrap: wrap;
        z-index: 10;
        justify-content: center;

        .Tile {
          flex: 0 0 32.333%;
          text-align: center;
          background-color: white;
          margin: 5px;
          .Tile-Inner {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            padding: 48px 20px;
          }
          .Tile-Inner h4 {
            font-size: 25px;
            margin-bottom: 20px;
            font-family: $mainFont;
            font-weight: 700;
            padding-bottom: 15px;
          }
          .Tile-Inner p {
            font-size: 14px;
            min-height: 90px;
            line-height: 1.6;
            color: #a1a1a1;
            font-family: $mainFont;
          }
          .Btn {
            margin: 20px 0 20px 0;
          }
        }
      }
    }
  }
}
.cartClicked {
  margin-top: 400px;
  transition: all 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}
