@import '../../../styles/common.scss';


.MainFooter{
  margin-top: 60px;
  width: 100%;
  background-color: #fff;

  .inner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 60px;
    
    .footer-container{
    width: 85%;
    padding: 90px 10px 70px 10px;
    display: flex;
    
    .logo{
      flex: 0 0 25%;
      .footerLink{
        .logo{
          width: 40px;
        }
      }
    }
    .links{
      flex: 0 0 75%;
      display: flex;

      .links-container{
        flex: 1;
        h2{
          font-size: 20px;
          font-family: $mainFont;
          margin-bottom: 20px;
          font-weight: 700;
        }
        .bottomBlock{
          margin-top: 16px;
        }
        ul{
          li{
            margin-bottom: 18px;
            font-size: 20px;
            
            .socielIcon{
              color: $footerGray;
              display: inline-block;
              padding: 6px;
              transition: all 240ms cubic-bezier(0.15, 0.005, 0, 1);

              &:hover{
                color: $mainBlack;
                transition: all 240ms cubic-bezier(0.15, 0.005, 0, 1);
              }
            }

            .link-to{
              position: relative;
              text-decoration: none;
              color: $footerGray;
              font-family: $subFont;
              font-size: 16px;
              transition: all 240ms cubic-bezier(0.15, 0.005, 0, 1);
              
              &:hover{
                color: $mainRed;
              }

              &:before{
                content:'';
                position: absolute;
                bottom: 0;
                height: 2px;
                width: 100%;
                background: $footerGray;
                opacity: 0;
                transform: translateY(3px);
                transition: all 360ms cubic-bezier(0.15, 0.005, 0, 1);
              }

              &:hover:before{
                opacity: 1;
                background-color: $mainRed;
              }
            }
          }
        }
      }
    }
  }
          .copyright{
            margin-bottom: 30px;
            position: relative;
            opacity: 0.7;
            width: 100%;
            text-align: center;
            padding: 0 90px 50px 90px ;
            display: flex;
            align-items: center;
            justify-content: center;
            
                span{
                  font-weight: 100;
                  font-family: $mainFont;
                  color: $footerGray;
                  font-size: 0.73rem;
                }

  }
  }
}

@media only screen and (max-width: 1440px) {
  .MainFooter .inner{
    margin: 0;
  }
}