@import '../../../../styles/common.scss';

.HoverMenu{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-right: 90px;
  z-index: 10;

  .main-img-box{
      width: 39%;
      height: 96%;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 1.7%;
      overflow: hidden;
      cursor: pointer;
        .main-img{
          display: block;
          width: 100%;
          height: 100%;
          background-color: $footerGray;
          background-size: cover;
          background-position: center;
          transition: all .2s ease-in-out;
          cursor: pointer;

          &:hover{
            transform:scale(1.05);
            transition: all .2s ease-in-out;
            transition-delay: 0s;
            background-color: $mainBlack;
            opacity: .5;
           
          } 
      }
  
  }
  .sub-imgs-container{
    width: 60%;
    display: flex;
    flex-wrap: wrap;

    .sub-imgs-box{
      flex: 0 0 30%;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 0 3% 3%;
      justify-content: center;
      padding: 2.3%;
      cursor: pointer;


        .sub-img{
          width: 80%;
        }

        .sub-image-title{
          margin-top:6px;
          font-family: $subFont;
          font-size: 13px;
          letter-spacing: 0.5px;
          //transition: all 4s;
          position: relative;
        }
        //이미지 호버 시 제품명 왼쪽으로 트렌지션 이동 애니메이션 구현(아직 미완)
        &:hover{
          .sub-image-title{
            letter-spacing: 0.5px;
            right: 5px;
            transition: all 4s ease-out;
            //transform: matrix(1, 0, 0, 1, 1, 0);
          }
        }
      }
    }
  }

@media only screen and (max-width: 1440px) {
  .HoverMenu{
    margin: 0;
  }
}